extends ../layout/admin

block styles
    meta(name="csrf-token" content= csrfToken)
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")


block blockcontent
    div.py-5
        h2.text-center.text-2xl.font-extrabold=pagina

        div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
            form( id="imagen" class="dropzone border-dashed border-2 w-full min:h-96 h-auto rounded flex-col justify-center items-center" method="POST" action=`/propietats/afegir-imatge/${propietat.id}`)
                input(type="hidden" name="_csrf" value= csrfToken)
                input(type="hidden" id="dDefaultMessag" value=`${__("Puja la teva imatge aquí")}` )
                input(type="hidden" id="dRemoveFile" value=`${__("Esborrar Fitxer")}` )
                input(type="hidden" id="dMaxFilesExceeded" value=`${__("El límit és sols 1 Fitxer")}` )

            button(id="publicar" class="mt-5 w-full py-3 bg-indigo-600 hover:bg-indigo-700 rounded text-white font-bold uppercase cursor-pointer" type="button" )  #{__('Publicar Propietat')}

block scripts
    script(src="/js/agregarImagen.js")
        
        