extends ../layout/admin

block blockcontent
    div.py-5
        h2.text-center.text-2xl.font-extrabold=pagina


        a(href="/propietats/llistat-propietats" class="rounded py-2 px-10 bg-indigo-600 hover:bg-indigo-700 text-sm font-bold text-center text-white uppercase my-5 inline-block w-full sm:w-auto")  #{__('Tornar a les teves propietats')} 

        div(class="mx-auto max-w-4xl bg-white shadow")

            if missatges.length
                ul
                    each missatge in missatges
                        li(class="border-gray-200 border-b p-5")
                            p(class="font-bold text-gray-800") #{__('Nom:')} 
                                span(class="font-normal")= missatge['usuariEmissor.nom']

                            p(class="font-bold text-gray-800") #{__('Email:')} 
                                span(class="font-normal")= missatge['usuariEmissor.email']

                            p(class="font-bold text-gray-800 mb-4 mt-4") #{__('Missatge:')} 
                                span(class="font-normal")= missatge.missatge

                            a(href=`/propietat/${missatge.propietatId}` class="text-sm text-gray-600 font-bold") #{__('Veure propietat')}

            else 
                p(class="text-center text-gray-600 p-5") #{__('No hi ha missatges')}